<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
<section class="page-header">
    <h1 class="project-name"><a style="color: #fff" href="{{ '/' | relative_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
</section>

<section class="main-content">
    {{ content }}

    <footer class="site-footer">
        {% if site.github.is_project_page %}
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">{{ site.description | default: site.github.project_tagline }}<br/><br/>
        * Diversity Visa statistics are extracted from the <a href="https://ceac.state.gov/CEACStatTracker/Status.aspx" target="_blank">Official CEAC Website</a>.</span>
    </footer>
</section>

<script src="{{ '/assets/js/moment.min.js' | relative_url }}"></script>
{% if page.pageScript %}
<script>
  {{ page.pageScript }}
</script>
{% endif %}
{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}
</body>
</html>